/*************************************************
 * Basic hexagon styles
**/
.hex::before {
    content: "";

    position: absolute;
    top: -30px;
    left: 0;

    width: 0;
    height: 0;

    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex {
    position: relative;

    width: 104px;
    height: 60px;

    background-color: #6C6;

    /* Fix for occasional white line between shapes */
    border-top: 1px solid #6C6;
    border-bottom: 1px solid #6C6;
    border-radius: 2px;
}
.hex::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 0;

    width: 0;
    height: 0;

    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}


/*************************************************
 * Possible hexagon colours
**/
.hex.allowed {
    background-color: lightblue;
    border-top-color: lightblue;
    border-bottom-color: lightblue;
}
.hex.allowed::before {
    border-bottom-color: lightblue;
}
.hex.allowed::after {
    border-top-color: lightblue;
}
.hex.white {
    background-color: beige;
    border-top-color: beige;
    border-bottom-color: beige;
}
.hex.white::before {
    border-bottom-color: beige;
}
.hex.white::after {
    border-top-color: beige;
}
.hex.white .stack {
    background: beige;
    border-color: black;
    color: black;
}

.hex.black {
    background-color: black;
    border-top-color: black;
    border-bottom-color: black;
}
.hex.black::before {
    border-bottom-color: black;
}
.hex.black::after {
    border-top-color: black;
}
.hex.black > .bug-image {
   filter: invert(100%);
   -webkit-filter: invert(100%);
}
.hex.black .stack {
    background: black;
    border-color: beige;
    color: beige;
}

/* Invalid hex tiles that are there for positioning */
.invisible {
    visibility: hidden;
}



/*************************************************
 * General positioning
**/
.unused {
    position: absolute;
    top: 35px;
    right: 60px;

    zoom: 0.5;
}
.hive-wrapper {
    position: absolute;
    top: 30px;
}
.hex-row {
    height: 95px;
}
.hex {
    float: left;
    margin-right: 5px;
}
.hex-row.even {
    margin-left: 55px;
}

.bug-image {
    width: 104px;
    height: 104px;

    position: absolute;
    top: -22px;
    left: 0;
}

.hex, .hex::after, .hex::before {
    z-index: 5;
}
.bug-image {
    z-index: 10;
}
.stack {
    z-index: 15;
}


/*************************************************
 * Stacking tiles
**/
.stack {
    display: inline-block;

    background: beige;
    border: 1px dashed black;
    border-radius: 5px;

    position: absolute;
    bottom: 2px;
    right: 2px;

    padding: 2px;
    min-width: 15px;
    text-align: center;
}
.stack-hover {
    display: none;

    position: absolute;
    z-index: 100;
    top: -30px;
    left: 0;

    background: #6C6;
    border: 1px solid transparent;
    border-radius: 50px;

    padding: 30px;
    padding-bottom: 10px;

    opacity: .9;
}
.stack:hover + .stack-hover {
    display: inline-block;
    zoom: 0.46;
}





/*************************************************
 * Perspective transformations
**/
.hive-wrapper {
    -webkit-perspective: 1000;
    perspective: 1000;
}

.hex-board {
    -webkit-transform: rotateX(45deg) rotateZ(30deg);
    -o-transform: rotateX(45deg) rotateZ(30deg);
    -ms-transform: rotateX(45deg) rotateZ(30deg);
    -moz-transform: rotateX(45deg) rotateZ(30deg);
    transform: rotateX(45deg) rotateZ(30deg);
}

/* Bug rotation is apparantly better facing the corner
   Enabling this makes them face the flat edge instead (sort of)
.bug-image {
    -webkit-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
*/


