.hex::before {
    content: "";

    position: absolute;
    top: -30px;
    left: 0;

    width: 0;
    height: 0;

    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex {
    position: relative;

    width: 104px;
    height: 60px;

    background-color: #6C6;

    /* Fix for occasional white line between shapes */
    border-top: 1px solid #6C6;
    border-bottom: 1px solid #6C6;
    border-radius: 2px;
}
.hex::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 0;

    width: 0;
    height: 0;

    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}


/* General positioning */
.unused {
    position: absolute;
    top: 35px;
    right: 60px;

    -webkit-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
}
.hive-wrapper {
    position: absolute;
    top: 30px;
}
.hex-row {
    height: 190px;
}
.hex {
    float: left;
    margin-right: -50px;
}
.hex.even {
    margin-top: 95px;
}

.bug-image {
    width: 104px;
    height: 104px;

    z-index: 10;

    position: absolute;
    top: -22px;
    left: 0;
}

/* Invalid hex tiles that are there for positioning */
.invisible {
    visibility: hidden;
}

/* Color for valid moves */
.allowed {
    background-color: lightblue;
}
.allowed::before {
    border-bottom-color: lightblue;
}
.allowed::after {
    border-top-color: lightblue;
}


/**
 * Perspective transformations
**/
.hive-wrapper {
    -webkit-perspective: 1000;
    perspective: 1000;
}

.hex-board {
    -webkit-transform: rotateX(45deg) rotateZ(30deg);
    -o-transform: rotateX(45deg) rotateZ(30deg);
    -ms-transform: rotateX(45deg) rotateZ(30deg);
    -moz-transform: rotateX(45deg) rotateZ(30deg);
    transform: rotateX(45deg) rotateZ(30deg);
}

.bug-image {
    -webkit-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}


