.hex::before {
    content: "";

    position: absolute;
    top: -30px;
    left: 0;

    width: 0;
    height: 0;

    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex {
    position: relative;

    width: 104px;
    height: 60px;

    background-color: #6C6;

    /* Fix for occasional white line between shapes */
    border-top: 1px solid #6C6;
    border-bottom: 1px solid #6C6;
    border-radius: 2px;
}
.hex::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 0;

    width: 0;
    height: 0;

    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}


/* different hex colors */
.hex.allowed {
    background-color: lightblue;
    border-top-color: lightblue;
    border-bottom-color: lightblue;
}
.hex.allowed::before {
    border-bottom-color: lightblue;
}
.hex.allowed::after {
    border-top-color: lightblue;
}
.hex.white {
    background-color: beige;
    border-top-color: beige;
    border-bottom-color: beige;
}
.hex.white::before {
    border-bottom-color: beige;
}
.hex.white::after {
    border-top-color: beige;
}

.hex.black {
    background-color: black;
    border-top-color: black;
    border-bottom-color: black;
}
.hex.black::before {
    border-bottom-color: black;
}
.hex.black::after {
    border-top-color: black;
}





/* General positioning */
.unused {
    position: absolute;
    top: 35px;
    right: 60px;

    zoom: 0.5;
}
.hive-wrapper {
    position: absolute;
    top: 30px;
}
.hex-row {
    height: 95px;
}
.hex {
    float: left;
    margin-right: 5px;
}
.hex-row.even {
    margin-left: 55px;
}

.bug-image {
    width: 104px;
    height: 104px;

    z-index: 10;

    position: absolute;
    top: -22px;
    left: 0;
}
.hex.black .bug-image {
   filter: invert(100%);
   -webkit-filter: invert(100%);
}

/* Invalid hex tiles that are there for positioning */
.invisible {
    visibility: hidden;
}


/**
 * Perspective transformations
**/
.hive-wrapper {
    -webkit-perspective: 1000;
    perspective: 1000;
}

.hex-board {
    -webkit-transform: rotateX(45deg) rotateZ(30deg);
    -o-transform: rotateX(45deg) rotateZ(30deg);
    -ms-transform: rotateX(45deg) rotateZ(30deg);
    -moz-transform: rotateX(45deg) rotateZ(30deg);
    transform: rotateX(45deg) rotateZ(30deg);
}

/* Bug rotation is apparantly better facing the corner
   Enabling this makes them face the flat edge instead (sort of)
.bug-image {
    -webkit-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
*/


